@import "tailwindcss";

@theme{
    --color-vermelho-fatec: #9C1D23; /* Vermelho Fatec */
    --color-vermLetra-fatec: #930000; /* Vermelho para letra */
    --color-cinza-fatec: #364A51; /* Cinza Fatec */
}